.header {
  height: 80vh;
  background-color: #1f2535;
  position: relative;
}

.header .content {
  color: white;
  position: absolute;
  top: 30%;
  left: 5%;
}  

.header .content h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.header .content p {
  font-size: 18px;
  font-weight: 100;
}

.header .content button {
  padding: 20px;
  font-size: 20px;
  border: navajowhite;
  border-radius: 4px;
  font-weight: 600;
  color: #1f2535;
  margin-top: 40px;
}